<table>
  <tr>
    <th>Name</th>
    <td><%= airport.name %></td>
  </tr>
  <tr>
    <th>IATA/FAA</th>
    <td><%= airport.iata_faa %></td>
  </tr>
  <tr>
    <th>City</th>
    <td><%= airport.country %></td>
  </tr>
  <tr>
    <th>Country</th>
    <td><%= airport.city %></td>
  </tr>
</table>
