<div class="row">
  <div class="row">
    <div class="small-12 columns centered">
      <h1>
        <%= "#{route.origin_airport.iata_faa} -> #{route.destination_airport.iata_faa}" %>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <b>From:</b>
    </div>
    <div class="small-10 columns">
      <%= route.origin_airport.name %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <b>To:</b>
    </div>
    <div class="small-10 columns">
      <%= route.destination_airport.name %>
    </div>
  </div>
  <div class="row">
    <div class="small-2 columns">
      <b>Carrier:</b>
    </div>
    <div class="small-10 columns">
      <%= route.airline.name %>
    </div>
  </div>
</div>
