<%= render 'shared/routeinfo', route:@route_user.route %>
<%= form_for @route_user, url: route_user_path, html: { method: :put } do |f| %>
  <div class="row">
    <%= render 'form', f: f %>
  </div>
  <div class="row">
    <div class="small-3 small-centered columns">
      <%= f.submit "Update", class:"button", id:"log_flight" %>
    </div>
  </div>
<% end %>
