<%= render 'shared/routeinfo', route:@route_user.route %>
<div class="row">
  <%= form_for @route_user, url: route_users_path, html: { method: :post } do |f| %>
    <%= render 'form', f: f %>
  <% end %>
</div>
