<li class="has-dropdown not-click">
  <a href='#'><%= current_user.email %></a>
  <ul class="dropdown">
    <li><%= link_to "Profile", user_path(current_user) %></li>
    <li class="active"><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
</li>
