<%# add navigation links to this file %>
<ul class="right">
  <li><%= login_logout_links %></li>
</ul>
<ul class="left">
  <li><%= link_to "Airlines", airlines_path %></li>
  <li><%= link_to "Routes", routes_path %></li>
</ul>
